@import '../core/variables.scss';

.main {
    padding: 10px;
    height: 80%;

    &__title {
        font-family: $font-main;
        font-weight: 600;
    }
}

.hostList {
    color: rgb(37, 3, 139);

    &__app {
        text-transform: uppercase;
    }

    &__hostName {
        line-height: 1.5rem;
    }

    &__apdex {
        color: red
    }
}