@import '../core/variables.scss';

.main {
    background-color: white;
    font-family: $font-main3;
    height: 80%;
    margin-top: 30px;

    &__title {
        background-color: #F5F5F5;
        font-weight: 600;
        padding: 30px 0 30px 0;
    }
}

.mainTablesGrid {
    flex-wrap: wrap;

    &__container {
        width: 375px;
    }
}

.mainTablesList {
    flex-direction: column;
}

.mainTables {
    font-family: $font-main3;
    display: flex;

    gap: 30px;

    &__container {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding-bottom: 30px;
        // width: 375px;



        &--title {

            font-weight: 600;
            padding: 30px 0 0 30px;

        }

        &--rows {
            display: flex;
        }
    }
}

/* */

.spanColumnLeft,
.spanColumnRight {
    color: #4A4A4A;

}

.spanColumnLeft {
    text-align: left;
    padding: 23px 10px 0 30px;

}

.spanColumnRight {
    text-align: left;
    padding: 23px 30px 0 10px;

}

.columnLeft,
.columnRight {
    color: #4A4A4A;
    height: 55px;

}

.columnLeft {
    text-align: center;
    padding: 23px 10px 0 30px;

}

.columnRight {
    text-align: left;
    padding: 23px 30px 0 10px;

}

.hostTable {
    //width: 375px;
    // &__header {
    //     padding: 30px 0 23px 30px;
    //     display: inline-block;
    //     font-weight: 600;
    // }

    &__row {
        font-family: $font-main3;
        color: #4A4A4A;

        &--cellLeft {
            padding: 23px 10px 0 30px;
            display: inline-block;
            text-align: center;
            line-height: 19px;
        }

        &--cellRight {
            padding: 23px 30px 0 10px;
            text-align: left;
        }

    }

    &__rowLast {
        padding-bottom: 30px;
        font-family: $font-main3;
        color: #4A4A4A;
    }

}

.hostList {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__li {
        &--app {
            text-transform: uppercase;
        }

        &--hostName {
            line-height: 1.5rem;
        }

        &--apdex {
            color: red
        }
    }
}