@import '../core/variables.scss';

.main {
    background-color: white;
    font-family: $font-main3;
    height: 80%;

    &__title {
        font-weight: 600;
    }
}

.mainTables {
    font-family: $font-main3;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__container {
        background-color: white;
        padding-bottom: 30px;
        //width: 375px;

        &--title {
            font-weight: 600;
            padding: 30px 0 0 30px;
        }
    }
}

.hostTable {
    //width: 375px;
    // &__header {
    //     padding: 30px 0 23px 30px;
    //     display: inline-block;
    //     font-weight: 600;
    // }

    &__row {
        font-family: $font-main3;
        color: #4A4A4A;

        &--cellLeft {
            padding: 23px 10px 0 30px;
            display: inline-block;
            text-align: center;
            line-height: 19px;
        }

        &--cellRight {
            padding: 23px 30px 0 10px;
            text-align: left;
        }

    }

    &__rowLast {
        padding-bottom: 30px;
        font-family: $font-main3;
        color: #4A4A4A;
    }

}

.hostList {
    color: rgb(37, 3, 139);

    &__app {
        text-transform: uppercase;
    }

    &__hostName {
        line-height: 1.5rem;
    }

    &__apdex {
        color: red
    }
}