// fonts
$font-main: 'Montserrat', sans-serif;
$font-main2: 'Roboto', sans-serif;
$font-main3: 'HelveticaNeue', sans-serif;
$font-secondary: 'Libre Caslon Display', serif;
$font-secondary2: 'Merriweather Sans', sans-serif;
$font-secondary3: 'Bebas Neue', sans-serif;
$font-secondary4: 'Libre Caslon Text', serif;

// colors
$color-primary: #fff;
$color-primary2: #000;
$color-primary3: #808080;
$color-secondary: #fdddac;
$color-secondary2: #6d6c6c;
$color-secondary3: #fafad1;
$gradient-bgd-main: linear-gradient(0, #fafad152, #8080806a);
$gradient-bgd: linear-gradient(180deg, #fafad1, #808080ba);
$gradient-bgd2: linear-gradient(180deg, #fafad1, #b71d1d);
$gradient-bgd2: linear-gradient(90deg, #fafad1, #b71d1d);